.card {
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.281);
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.116);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(35, 38, 41, 0.5);
  border-right: 1px solid rgba(35, 38, 41, 0.5);
}

.username {
  background: rgb(34, 32, 32);
  color: rgb(255, 255, 255);
  width: 120px;
  height: 20px;
  font-size: 12px;
}

.desc {
  background: rgba(100, 96, 96, 0.377);
}
